# EDA of Uttar Pradesh 2022 

* [myneta.info](https://myneta.info/)

Constituencies | Candidates | Women Candidates
--- | --- | ---
403 | 4406 | 560

## Extracting data using bs4

In [1]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
from tabulate import tabulate

In [2]:
header = ["Candidate", "Party", "Criminal Cases", "Education", "Age", "Total Assets", "Liabilities"]

In [3]:
url = "https://myneta.info/Uttarpradesh2022/index.php?action=show_candidates&constituency_id=1"
html = urlopen(url)
soup = BeautifulSoup(html,'html.parser')
title = soup.title.text
title

'List of Candidates in BEHAT : SAHARANPUR Uttar Pradesh 2022 '

In [4]:
title = title.split()
filename = title[4] + '.csv'
filename

'BEHAT.csv'

In [5]:
table = soup.find("table", {"id": "table1"})
rows = table.find_all('tr')
rows

[<tr>
 <th>Candidate</th><th>Party</th>
 <th align="center">Criminal Cases</th>
 <th>Education</th>
 <th>Age</th>
 <th align="right">Total Assets</th>
 <th align="right">Liabilities</th>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=1208">Ali Khan</a><b></b></td>
 <td>IND</td>
 <td align="center" style=""><span style="color:red;font-weight:bold;font-size:150%"> 1 </span></td>
 <td>10th Pass</td><td>31</td>
 <td align="right">Rs 2,35,42,241<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 2 Crore+</span></td>
 <td align="right">Rs 0<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ </span></td>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=1395">Dharam Pal Singh</a><b></b></td>
 <td>IND</td>
 <td align="center" style="">0</td>
 <td>Graduate</td><td>46</td>
 <td align="right">Rs 55,65,000<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 55 Lacs+</span></td>
 <td align="right">Rs 0<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ </span></td>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=1206">Mo. Ikram</a><b></b></td>
 <td>IND</td>
 <td align="center" style="">0</td>
 <td>5th Pass</td><td>47</td>
 <td align="right">Rs 24,81,845<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 24 Lacs+</span></td>
 <td align="right">Rs 2,00,000<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 2 Lacs+</span></td>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=850">Naresh Saini</a><b></b></td>
 <td>BJP</td>
 <td align="center" style="">0</td>
 <td>Post Graduate</td><td>57</td>
 <td align="right">Rs 2,95,06,003<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 2 Crore+</span></td>
 <td align="right">Rs 57,79,181<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 57 Lacs+</span></td>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=920">Poonam Kamboj</a><b></b></td>
 <td>INC</td>
 <td align="center" style="">0</td>
 <td>Post Graduate</td><td>36</td>
 <td align="right">Rs 1,35,52,777<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 1 Crore+</span></td>
 <td align="right">Rs 18,00,000<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 18 Lacs+</span></td>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=1205">Rais Malik</a><b></b></td>
 <td>BSP</td>
 <td align="center" style="">0</td>
 <td>8th Pass</td><td>54</td>
 <td align="right">Rs 4,34,52,000<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 4 Crore+</span></td>
 <td align="right">Rs 0<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ </span></td>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=1399">Sushil Kumar</a><b></b></td>
 <td>AAP</td>
 <td align="center" style="">0</td>
 <td>10th Pass</td><td>38</td>
 <td align="right">Rs 24,09,500<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 24 Lacs+</span></td>
 <td align="right">Rs 0<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ </span></td>
 </tr>,
 <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='skyblue'" style="font-family:verdana;font-size:80%;">
 <td><a href="candidate.php?candidate_id=849">Umar Ali Khan</a><b></b></td>
 <td>SP</td>
 <td align="center" style=""><span style="color:red;font-weight:bold;font-size:150%"> 1 </span></td>
 <td>Post Graduate</td><td>44</td>
 <td align="right">Rs 5,80,38,001<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 5 Crore+</span></td>
 <td align="right">Rs 14,06,216<br/><span style="color:black;font-size:70%;text-decoration:none;white-space:nowrap"> ~ 14 Lacs+</span></td>
 </tr>]

In [6]:
def inr_to_int(text):
    try:
        text = text.split()
        text = text[1].replace(",", "")
    except:
        return 0
    return int(text)

In [7]:
data = []
total_rows = len(rows)
for i in range(1, total_rows):
    col_data = []
    cols = rows[i].find_all('td')
    total_cols = len(cols)
    for i in range(total_cols):
        if i > 4:
            col_data.append(inr_to_int(cols[i].text))
        else:
            col_data.append(cols[i].text)
    data.append(col_data)
data

[['Ali Khan', 'IND', ' 1 ', '10th Pass', '31', 23542241, 0],
 ['Dharam Pal Singh', 'IND', '0', 'Graduate', '46', 5565000, 0],
 ['Mo. Ikram', 'IND', '0', '5th Pass', '47', 2481845, 200000],
 ['Naresh Saini', 'BJP', '0', 'Post Graduate', '57', 29506003, 5779181],
 ['Poonam Kamboj', 'INC', '0', 'Post Graduate', '36', 13552777, 1800000],
 ['Rais Malik', 'BSP', '0', '8th Pass', '54', 43452000, 0],
 ['Sushil Kumar', 'AAP', '0', '10th Pass', '38', 2409500, 0],
 ['Umar Ali Khan', 'SP', ' 1 ', 'Post Graduate', '44', 58038001, 1406216]]

In [8]:
tabulate(data, headers=header, tablefmt='fancy_grid')

'╒══════════════════╤═════════╤══════════════════╤═══════════════╤═══════╤════════════════╤═══════════════╕\n│ Candidate        │ Party   │   Criminal Cases │ Education     │   Age │   Total Assets │   Liabilities │\n╞══════════════════╪═════════╪══════════════════╪═══════════════╪═══════╪════════════════╪═══════════════╡\n│ Ali Khan         │ IND     │               1  │ 10th Pass     │    31 │       23542241 │             0 │\n├──────────────────┼─────────┼──────────────────┼───────────────┼───────┼────────────────┼───────────────┤\n│ Dharam Pal Singh │ IND     │                0 │ Graduate      │    46 │        5565000 │             0 │\n├──────────────────┼─────────┼──────────────────┼───────────────┼───────┼────────────────┼───────────────┤\n│ Mo. Ikram        │ IND     │                0 │ 5th Pass      │    47 │        2481845 │        200000 │\n├──────────────────┼─────────┼──────────────────┼───────────────┼───────┼────────────────┼───────────────┤\n│ Naresh Saini     │ BJP     │                0 │ Post Graduate │    57 │       29506003 │       5779181 │\n├──────────────────┼─────────┼──────────────────┼───────────────┼───────┼────────────────┼───────────────┤\n│ Poonam Kamboj    │ INC     │                0 │ Post Graduate │    36 │       13552777 │       1800000 │\n├──────────────────┼─────────┼──────────────────┼───────────────┼───────┼────────────────┼───────────────┤\n│ Rais Malik       │ BSP     │                0 │ 8th Pass      │    54 │       43452000 │             0 │\n├──────────────────┼─────────┼──────────────────┼───────────────┼───────┼────────────────┼───────────────┤\n│ Sushil Kumar     │ AAP     │                0 │ 10th Pass     │    38 │        2409500 │             0 │\n├──────────────────┼─────────┼──────────────────┼───────────────┼───────┼────────────────┼───────────────┤\n│ Umar Ali Khan    │ SP      │               1  │ Post Graduate │    44 │       58038001 │       1406216 │\n╘══════════════════╧═════════╧══════════════════╧═══════════════╧═══════╧════════════════╧═══════════════╛'

In [9]:
df = pd.DataFrame(data = data, columns = header)
df

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities
0,Ali Khan,IND,1,10th Pass,31,23542241,0
1,Dharam Pal Singh,IND,0,Graduate,46,5565000,0
2,Mo. Ikram,IND,0,5th Pass,47,2481845,200000
3,Naresh Saini,BJP,0,Post Graduate,57,29506003,5779181
4,Poonam Kamboj,INC,0,Post Graduate,36,13552777,1800000
5,Rais Malik,BSP,0,8th Pass,54,43452000,0
6,Sushil Kumar,AAP,0,10th Pass,38,2409500,0
7,Umar Ali Khan,SP,1,Post Graduate,44,58038001,1406216

In [10]:
df.to_csv(filename, index=False)

## Trying to extract all 403 Constituencies

In [ ]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
from tabulate import tabulate


def inr_to_int(text):
    try:
        text = text.split()
        text = text[1].replace(",", "")
    except:
        return 0
    return int(text)


def main():
    header = ["Candidate", "Party", "Criminal Cases", "Education", "Age", "Total Assets", "Liabilities"]
    data = []
    total_constituencies = 0
    for i in range(1, 500):
        try:
            print("Trying  ID", i, end = '... ')
            url = "https://myneta.info/Uttarpradesh2022/index.php?action=show_candidates&constituency_id=" + str(i)
            html = urlopen(url)
            soup = BeautifulSoup(html,'html.parser')
            title = soup.title.text
            title = title.split()
            if len(title) > 1:
                title = title[4:-3]
                print("Found", " ".join(title), end = ' ')
            table = soup.find("table", {"id": "table1"})
            rows = table.find_all('tr')
            total_rows = len(rows)
            for i in range(1, total_rows):
                col_data = []
                cols = rows[i].find_all('td')
                total_cols = len(cols)
                for i in range(total_cols):
                    if i > 4:
                        col_data.append(inr_to_int(cols[i].text))
                    else:
                        col_data.append(cols[i].text)
                data.append(col_data)
#             print(tabulate(data, headers=header, tablefmt='fancy_grid'))
        except:
            print('ERROR')
        else:
            total_constituencies += 1
            print('SUCCESS')
    df = pd.DataFrame(data = data, columns = header)
    print('Data Fetched for', total_constituencies)
    df.to_csv('up.csv', index=False)

main()

Trying  ID 1... Found BEHAT : SAHARANPUR SUCCESS
Trying  ID 2... Found NAKUR : SAHARANPUR SUCCESS
Trying  ID 3... Found SAHARANPUR NAGAR : SAHARANPUR SUCCESS
Trying  ID 4... Found SAHARANPUR : SAHARANPUR SUCCESS
Trying  ID 5... Found DEOBAND : SAHARANPUR SUCCESS
Trying  ID 6... Found RAMPUR MANIHARAN (SC) : SAHARANPUR SUCCESS
Trying  ID 7... Found GANGOH : SAHARANPUR SUCCESS
Trying  ID 8... Found ETMADPUR : AGRA SUCCESS
Trying  ID 9... Found AGRA CANTT. (SC) : AGRA SUCCESS
Trying  ID 10... Found AGRA SOUTH : AGRA SUCCESS
Trying  ID 11... Found AGRA NORTH : AGRA SUCCESS
Trying  ID 12... Found AGRA RURAL (SC) : AGRA SUCCESS
Trying  ID 13... Found FATEHPUR SIKRI : AGRA SUCCESS
Trying  ID 14... Found KHERAGARH : AGRA SUCCESS
Trying  ID 15... Found FATEHABAD : AGRA SUCCESS
Trying  ID 16... Found BAH : AGRA SUCCESS
Trying  ID 17... Found KHAIR (SC) : ALIGARH SUCCESS
Trying  ID 18... Found BARAULI : ALIGARH SUCCESS
Trying  ID 19... Found ATRAULI : ALIGARH SUCCESS
Trying  ID 20... ERROR
Trying  ID 21... Found KOIL : ALIGARH SUCCESS
Trying  ID 22... Found ALIGARH : ALIGARH SUCCESS
Trying  ID 23... ERROR
Trying  ID 24... Found KATEHARI : AMBEDKAR NAGAR SUCCESS
Trying  ID 25... Found TANDA : AMBEDKAR NAGAR SUCCESS
Trying  ID 26... Found ALAPUR (SC) : AMBEDKAR NAGAR SUCCESS
Trying  ID 27... Found JALALPUR : AMBEDKAR NAGAR SUCCESS
Trying  ID 28... Found AKBARPUR : AMBEDKAR NAGAR SUCCESS
Trying  ID 29... Found TILOI : AMETHI SUCCESS
Trying  ID 30... Found JAGDISHPUR (SC) : AMETHI SUCCESS
Trying  ID 31... Found GAURIGANJ : AMETHI SUCCESS
Trying  ID 32... Found AMETHI : AMETHI SUCCESS
Trying  ID 33... Found DHANAURA (SC) : AMROHA SUCCESS
Trying  ID 34... Found NAUGAWAN SADAT : AMROHA SUCCESS
Trying  ID 35... Found AMROHA : AMROHA SUCCESS
Trying  ID 36... Found HASANPUR : AMROHA SUCCESS
Trying  ID 37... Found AURAIYA (SC) : AURAIYA SUCCESS
Trying  ID 38... Found DIBIYAPUR : AURAIYA SUCCESS
Trying  ID 39... Found BIDHUNA : AURAIYA SUCCESS
Trying  ID 40... Found MILKIPUR (SC) : AYODHYA SUCCESS
Trying  ID 41... Found BIKAPUR : AYODHYA SUCCESS
Trying  ID 42... Found AYODHYA : AYODHYA SUCCESS
Trying  ID 43... Found GOSHAINGANJ : AYODHYA SUCCESS
Trying  ID 44... Found RUDAULI : AYODHYA SUCCESS
Trying  ID 45... Found ATRAULIYA : AZAMGARH SUCCESS
Trying  ID 46... Found GOPALPUR : AZAMGARH SUCCESS
Trying  ID 47... Found SAGRI : AZAMGARH SUCCESS
Trying  ID 48... Found MUBARAKPUR : AZAMGARH SUCCESS
Trying  ID 49... Found AZAMGARH : AZAMGARH SUCCESS
Trying  ID 50... Found NIZAMABAD : AZAMGARH SUCCESS
Trying  ID 51... Found PHOOLPUR-PAWAI : AZAMGARH SUCCESS
Trying  ID 52... Found DIDARGANJ : AZAMGARH SUCCESS
Trying  ID 53... Found LALGANJ (SC) : AZAMGARH SUCCESS
Trying  ID 54... Found MEHNAGAR (SC) : AZAMGARH SUCCESS
Trying  ID 55... Found  ERROR
Trying  ID 56... Found CHHAPRAULI : BAGHPAT SUCCESS
Trying  ID 57... Found BARAUT : BAGHPAT SUCCESS
Trying  ID 58... Found BAGHPAT : BAGHPAT SUCCESS
Trying  ID 59... Found BALHA (SC) : BAHRAICH SUCCESS
Trying  ID 60... Found NANPARA : BAHRAICH SUCCESS
Trying  ID 61... Found MATERA : BAHRAICH SUCCESS
Trying  ID 62... Found MAHASI : BAHRAICH SUCCESS
Trying  ID 63... Found BAHRAICH : BAHRAICH SUCCESS
Trying  ID 64... Found PAYAGPUR : BAHRAICH SUCCESS
Trying  ID 65... Found KAISERGANJ : BAHRAICH SUCCESS
Trying  ID 66... Found BELTHARA ROAD (SC) : BALIA SUCCESS
Trying  ID 67... Found RASARA : BALIA SUCCESS
Trying  ID 68... Found SIKANDERPUR : BALIA SUCCESS
Trying  ID 69... Found PHEPHANA : BALIA SUCCESS
Trying  ID 70... Found BALLIA NAGAR : BALIA SUCCESS
Trying  ID 71... Found BANSDIH : BALIA SUCCESS
Trying  ID 72... Found BAIRIA : BALIA SUCCESS
Trying  ID 73... Found BALRAMPUR (SC) : BALRAMPUR SUCCESS
Trying  ID 74... Found UTRAULA : BALRAMPUR SUCCESS
Trying  ID 75... Found GAINSARI : BALRAMPUR SUCCESS
Trying  ID 76... Found TULSIPUR : BALRAMPUR SUCCESS
Trying  ID 77... Found TINDWARI : BANDA SUCCESS
Trying  ID 78... Found BABERU : BANDA SUCCESS
Trying  ID 79... Found NARAINI (SC) : BANDA SUCCESS
Trying  ID 80... Found BANDA : BANDA SUCCESS
Trying  ID 81... Found KURSI : BARABANKI SUCCESS
Trying  ID 82... Found RAM NAGAR : BARABANKI SUCCESS
Trying  ID 83... Found BARABANKI : BARABANKI SUCCESS
Trying  ID 84... Found ZAIDPUR (SC) : BARABANKI SUCCESS
Trying  ID 85... Found DARIYABAD : BARABANKI SUCCESS
Trying  ID 86... Found  ERROR
Trying  ID 87... Found HAIDERGARH (SC) : BARABANKI SUCCESS
Trying  ID 88... Found BAHERI : BAREILLY SUCCESS
Trying  ID 89... Found MEERGANJ : BAREILLY SUCCESS
Trying  ID 90... Found BHOJIPURA : BAREILLY SUCCESS
Trying  ID 91... Found NAWABGANJ : BAREILLY SUCCESS
Trying  ID 92... Found FARIDPUR (SC) : BAREILLY SUCCESS
Trying  ID 93... Found BITHARI CHAINPUR : BAREILLY SUCCESS
Trying  ID 94... Found BAREILLY : BAREILLY SUCCESS
Trying  ID 95... Found BAREILLY CANTT. : BAREILLY SUCCESS
Trying  ID 96...