## Anaconda Installation (linux)

1. Download [Anaconda installer](https://www.anaconda.com/download/#linux)
1. Run ``bash ~/Downloads/Anaconda3-2020.02-Linux-x86_64.sh``
1. Follow the prompts on the installer screens
1. Restart the terminal 
1. Verify the installation by running ``conda info``

## Anaconda Commands

Description | Command
:--- |:---
Creating new virtual env | conda create -n myenv pandas jupyterlab
Cloning existing env | conda create -n myclone --clone myenv
Version specified | conda create -n myenv python=3.8
Activating the env | conda activate myenv
Deactivating the env | conda deactivate
Listing env | conda env list
Removing env | conda env remove --name myenv
Installing packages | conda install pandas

## Uninstall Anaconda

```
conda install anaconda-clean
anaconda-clean --yes
sudo rm -rf ~/anaconda3
sudo rm -rf ~/.anaconda_backup   
sudo rm -rf ~/.condarc ~/.conda ~/.continuum
```
*  Remove the PATH from _~/.bashrc_ and _~/.bash_profile_

## Jupyter Notebook Installation (linux)
* You can also install Jupyter individualy and manage the virtual enviroment with virtualenv
 
```
pip3 install Jupyter
pip3 install virtualenv
virtualenv my_project_env
source my_project_env/bin/activate
jupyter notebook
```

## Jupyter Notebook 500 : Internal Server Error

* In this case upgrade your Jupyter hub

```
pip3 install --upgrade jupyterhub
pip3 install --upgrade --user nbconve
```

## Jupyter shortcuts

Description | Command
:--- | :---
A | Insert a new cell above
B | Insert a new cell below
M | Markdown
Y | Code
D+D | Delete the current cell
Shift + Enter | Compile and move to the next cell 
Alt + Enter | Compile and insert a new cell
Shift + Tab | Docstring
Esc + F | Find and Replace
Esc + O | Toggle cell output
Shift + J | Selects cell in downwards direction
Shift + K | Selects cell in upwards direction
Shift + M | Merge cells

## Uninstall Jupyter

```
pip3 uninstall jupyter jupyter_core jupyter-client jupyter-console jupyterlab_pygments notebook qtconsole nbconvert nbformat
```

## Types of variable in python

In [16]:
a = 10
type(a)

int

In [15]:
a = 'name'
type(a)

str

In [14]:
a = 3.14
type(a)

float

In [5]:
a = True
type(a)

bool

In [6]:
a = []
type(a)

list

In [7]:
a = ()
type(a)

tuple

In [8]:
a = {}
type(a)

dict

In [10]:
a = 2 + 3j
type(a)

complex

In [17]:
a = 10
print(id(a))
a = a + 1
print(id(a))

139728365961744
139728365961776

In [18]:
b = 10
c = 10
print(id(b))
print(id(c))

139728365961744
139728365961744

In [21]:
a = 100
b = 17

In [22]:
a+b

117

In [23]:
a-b

83

In [24]:
a*b

1700

In [28]:
a**b

10000000000000000000000000000000000

In [25]:
a/b

5.882352941176471

In [26]:
a//b

5

In [29]:
a % b

15

In [32]:
a = input()
type(a)

41

str

In [33]:
a = int(input())
type(a)

41

int

## Comments

### Single line comments

In [2]:
a = 10
# a = 20
a

10

### Multi line comments

* Python does not have a syntax for multi line comments. So, we can use multiple hashes.

In [5]:
# b = 10
# b = 20
# b = 30
b

NameError: name 'b' is not defined

### Docstring

In [1]:
def add(a, b):
    """
    This function sums up
    two integers
    """
    return a + b


add(10, 30)

40

## Functions

In [12]:
def add(a, b):
    """
    This function sums up
    two integers
    """
    return a + b


add(10, 30)

40

## Conditional operator

In [17]:
a = int(input())

if a%2 == 0:
    print('even')
else:
    print('odd')

20
even

## Loops

### For Loop

In [15]:
items = ["the", "meaning", "of", "life"]
for item in items:
  print(item)

the
meaning
of
life

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### While Loop

In [2]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

## Patterns

### Square

In [5]:
n = int(input())
i = 1
while i <= n :
    j = 1
    while j <= n:
        print(i, end = ' ')
        j = j + 1
    print()
    i = i + 1

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [6]:
n = int(input())
i = 1
while i <= n :
    j = 1
    while j <= n:
        print(j, end = ' ')
        j = j + 1
    print()
    i = i + 1

5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [7]:
n = int(input())
i = 1
while i <= n :
    j = 1
    while j <= n:
        print(n-j+1, end = ' ')
        j = j + 1
    print()
    i = i + 1

5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

### Triangle

In [12]:
n = int(input())
i = 1
while i <= n :
    j = 1
    while j <= i :
        print(j, end = ' ')
        j = j + 1
    print()
    i = i + 1

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
n = int(input())
i = 1
while i <= n :
    j = i
    k = 1
    while k <= i :
        print(j, end = ' ')
        k = k + 1
        j = j + 1
    print()
    i = i + 1

5
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [19]:
n = int(input())
i = 1
t = 1
while i <= n :
    j = 1
    while j <= i :
        print(t, end = ' ')
        t = t + 1
        j = j + 1
    print()
    i = i + 1

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [20]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(i, end = ' ')
        j = j + 1
    print()
    i = i + 1

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
n = int(input())
i = 1
while i <= n:
    j = i
    while j > 0:
        print(j, end = ' ')
        j = j - 1
    print()
    i = i + 1

5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### Characters

In [24]:
n = int(input())
i = 1
while i <= n :
    j = 1
    while j <= n:
        print(chr(ord('A') + j -1), end = ' ')
        j = j + 1
    print()
    i = i + 1

5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [3]:
n = int(input())
i = 1
while i <= n :
    j = 1
    start = chr(ord('A') + i -1)
    while j <= n:
        print(chr(ord(start) + j -1), end = ' ')
        j = j + 1
    print()
    i = i + 1

5
A B C D E
B C D E F
C D E F G
D E F G H
E F G H I

### Inverted

In [5]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n - i + 1:
        print('*', end=' ')
        j = j + 1
    print()
    i = i + 1

5
* * * * *
* * * *
* * *
* *
*

### Reversed

In [2]:
n = int(input())
i = 1
while i <= n:
    j = n - i
    star = i
    while j > 0:
        print(' ', end=' ')
        j = j - 1
    while star > 0:
        print('*', end=' ')
        star = star - 1
    print()
    i = i + 1

5
        *
      * *
    * * *
  * * * *
* * * * *

In [3]:
n = int(input())
i = 1
while i <= n:
    j = n - i
    star = i
    while j > 0:
        print(' ', end=' ')
        j = j - 1
    while star > 0:
        print('*', end=' ')
        star = star - 1
    p = i - 1
    while p >= 1:
        print('*', end=' ')
        p = p - 1
    print()
    i = i + 1

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# 2d List

In [2]:
li = [[1,2,3],[4,5,6],[7,8,9]]
li

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
li[0]

[1, 2, 3]

In [4]:
li[0][0]

1

In [7]:
li = [i for i in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
li = [ [10*i + j for j in range(10) ] for i in range(10)]
li

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
 [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
 [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]

In [3]:
str = input()
print(type(str))
str

     1 2 3 4 5
<class 'str'>

'     1 2 3 4 5      '

In [4]:
str = input().strip()
print(type(str))
str

     1 2 3 4 5
<class 'str'>

'1 2 3 4 5'

In [6]:
str = input().split()
print(type(str))
str

     1 2 3 4 5
<class 'list'>

['1', '2', '3', '4', '5']

In [8]:
str = input().split(" ")
print(type(str))
str

     1 2 3 4 5
<class 'list'>

['', '', '', '', '', '1', '2', '3', '4', '5', '', '', '', '', '', '']

In [1]:
str = input().split(" ").strip()
print(type(str))
str

this is it

AttributeError: 'list' object has no attribute 'strip'

In [11]:
str = input().strip().split(" ")
print(type(str))
str

     1 2 3 4 5
<class 'list'>

['1', '2', '3', '4', '5']

In [2]:
str = input().strip().split(" ")
n = int(str[0])
m = int(str[1])

li = [int(i) for i in input().strip().split(" ")]

l2 = []
for i in range(n):
    l2.append([])
    for j in range(m):
        l2[i].append(li[i*m + j])
l2

2 3
1 2 3 4 5 6

[[1, 2, 3], [4, 5, 6]]