In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.offline import init_notebook_mode, iplot 
import plotly.graph_objects as go
import plotly.offline as py
import plotly.express as px
import pycountry
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [7]:
data = pd.read_csv('2004-2019.csv')
data

,Candidate,Constituency,Party,Criminal Cases,Education,Total Assets,Liabilities,Year
0,MADHUSUDHAN REDDY THAKKALA,Adilabad,TRS,0,Graduate Professional,7550000,120000,2004
1,CHENGARA SURENDRAN,Adoor,CPI,0,Graduate,6274,41438,2004
2,RAJ BABBAR,Agra,SP,2,Graduate,22326400,1000000,2004
3,HARIN PATHAK,Ahmedabad,BJP,1,Graduate Professional,10287931,0,2004
4,GADAKH TUKARAM GANGADHAR,Ahmednagar,NCP,2,Graduate,23446680,4680000,2004
...,...,...,...,...,...,...,...,...
2113,Ramdas Chandrabhanji Tadas,WARDHA,BJP,0,10th Pass,65807822,8961387,2019
2114,Rahul Gandhi,WAYANAD,INC,5,Post Graduate,158877063,7201904,2019
2115,Parvesh Sahib Singh,WEST DELHI,BJP,0,Post Graduate,155195014,40097329,2019
2116,Bhavana Pundlikrao Gawali,YAVATMAL WASHIM,SHS,3,Graduate,96873189,7396250,2019
2117,B.B.Patil,ZAHIRABAD,TRS,18,Graduate,1287851556,11535000,2019

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2118 entries, 0 to 2117
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Candidate       2118 non-null   object
 1   Constituency    2118 non-null   object
 2   Party           2118 non-null   object
 3   Criminal Cases  2118 non-null   int64
 4   Education       2118 non-null   object
 5   Total Assets    2118 non-null   int64
 6   Liabilities     2118 non-null   int64
 7   Year            2118 non-null   int64
dtypes: int64(4), object(4)
memory usage: 132.5+ KB

In [11]:
np.size(data["Party"].unique()) - 1

72

In [14]:
candidates = np.size(data["Candidate"])
candidates

2118

KeyError: 'PARTY'